@model ITI_Project.DAL.Models.User
@using ITI_Project.DAL.Models.Enums

<div class="container mt-4">
    <h2>Edit User</h2>

    <form asp-action="Edit" method="post" class="card p-4 shadow-sm">
        <input type="hidden" asp-for="UserId" />
        <partial name="_UserForm" model="Model" />
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
